<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="ServiceUID" value="your username"/>
    <add key="ServicePWD" value="your password"/>
    <add key="ServiceDomain" value="your domain"/>
  </appSettings>

  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
